.footer {
    background: $blue;
    color: $white;
    padding: 70px 0 40px;
    & .wrapper {
        @include container();
    }
}

.footer__nav {
    @include flexbox($align-items: flex-end);
    padding-bottom: 16px;
    border-bottom: 1px solid $white;
    &__brand {
        font-size: 15px;
        &__link {
            &__logo {
                width: 200px;
            }
        }
        &__info {
            &__item {
                margin-bottom: 5px;
            }
        }
    }
    &__list {
        font-size: 20px;
        &__item {
            margin-bottom: 5px;
        }
    }
}


.footer__bottom {
    text-align: center;
    &__social {
        font-size: 35px;
        &__link {
            & i {
                margin: 30px;
                transition: 200ms;
                &:hover {
                    color: $green;
                }
            }
        }
    }
    &__address {
        font-size: 15px;
    }
}
